/*<Reina Irizarry,Web & Distributed Programming, project3,Fall 2018*/

body{
  background-color: black;
}

*{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lobster', cursive;
}

p{
  margin-left: -50px;
}
div.dice{/*all divs with dice get the below styling*/
	float:left;
	width:32px;
  color:black;
	background:#F5F5F5;
	border:#999 1px solid;
	padding:10px;
	font-size:24px;
	margin:5px;
}

button{
  color: black;
}

.whole{
  margin-left: 525px;
}
