body {
    background-image: url("https://i.postimg.cc/mgFzDZ6m/abstract-architecture-attractive-988873.jpg");
    background-repeat: no-repeat;
}
*{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
