html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #269ccc;
}

h1 {
color:#feda6a;

}

#myMapID {
    height: 100%;
    width: 100%;
}

*{
  font-family: verdana;
  color: #808080;
  font-weight: bold;
}
