html, body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 35px;
}

body {
  font-family: Helvetica, sans-serif;
}

button {
  background-color: #6B5B95;
  color: #FFF;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin-bottom: 50px;
  margin-left: 18px;
  position: relative;
  top: -10px;
}

button:hover {
  background-color: #6B5B95;
}

button:active {
  background-color: #6B5B95;
  box-shadow: none;
  position: relative;
  top: -8px;
  left: 2px;
}
